* {
  box-sizing: border-box;
  margin: 0;
}
body {
  background-color: rgb(237, 237, 237);
}
#navbar {
  background-color: white;
}
.main-div {
  border: 1px solid red;
  width: 90%;
  margin: 0 auto;
}
.h1 {
  text-align: center;
  margin-bottom: 20px;
  background-color: white;
  padding: 20px 0;
}

.heading_div {
  display: flex;
  padding: 30px 1.5em;
  font-size: 1.8rem;
  background-color: white;

  margin-bottom: 40px;
}
.heading_div > p {
  width: 18%;
}
input {
  margin-right: 1em;
}
.heading_div .select-all {
  width: 58%;
}
.select-all {
  display: flex;
  align-items: center;
}
.data_div {
  padding: 2em;
  background-color: white;
  margin-bottom: 20px;
}
.append_div {
  border-bottom: 1px solid grey;
  padding-bottom: 40px;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
}
.left_div {
  display: flex;
  justify-content: space-between;
  width: 50%;
}
.data_div .left_div .img_div {
  width: 20%;
  height: 100px;
  border: 1px solid grey;
  margin: 2px;
}

.data_div img {
  width: 100%;
  height: 90px;
}

.data_div .left_div .desc_div {
  width: 70%;
  font-size: 1.5rem;
  font-weight: bold;
  height: 100px;
}

.data_div .pri_div {
  color: red;
  font-size: 2rem;
  font-weight: bold;
  width: 12%;
}
.data_div .counter_div {
  display: flex;
  width: 12%;
  align-items: flex-start;
}

.data_div .counter_div input {
  font-size: 1.5rem;
  width: 50%;
  border-left: none;
  border-right: none;
  height: 30px;
  margin-right: 0;
  text-align: center;
}

.data_div .counter_div p {
  border: 1px solid black;
  padding: 0.3em 1em;
  font-size: 1.5rem;
}
.data_div .delete_div {
  display: flex;
  gap: 3em;
}

.continue_div {
  padding-left: 1.5em;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  background-color: white;
}
button {
  font-size: 1.8rem;
}
.continue_div div button {
  border: 1px solid black;
  margin-right: 1.2em;
  margin-top: 15px;
  padding: 10px 4em;
  background-color: white;
}
.continue_div .prices {
  margin-top: 15px;
  line-height: 1.5em;
}
.continue_div .cont_btn {
  background-color: red;
  border: none;
  padding: 25px 2em;
  color: white;
}
